[Desktop Entry]
Name=Output Audio Switcher
GenericName=OutputAudioSwitcher
Comment=Switch easily between output audio ports
Exec=./output-audio-switcher.sh
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=./output-audio-switcher.webp